.block-container{
    padding-top:2rem;
}

div[data-testid="stMetric"]{
    background:rgb(92, 139, 248);
    padding:20px;
    border-radius:15px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.stButton button{
    width:100%;
    border-radius:10px;
}

div[data-testid="stVerticalBlockBorderWrapper"]{
    border-radius:15px;
}